<h1>Editing Evil Wizard: <%= @evil_wizard.name %></h1>

<%= render 'form' %>

<ul class="actions">
  <li><%= link_to 'Show', @evil_wizard %></li>
  <li><%= link_to 'Back', evil_wizards_path %></li>
</ul>
