<p>
  <b>On Level:</b>
  <%= trap_installation.level %>
</p>

<p>
  <b>Size:</b>
  <%= trap_installation.size %>
</p>

<p>
  <b>Is Fake?</b>
  <%= yes_or_no(trap_installation.fake) %>
</p>

<p>
  <b>Damage caused:</b>
  <%= trap_installation.damage_caused %>
</p>
