<h1>Editing Trap Installation: <%= @trap_installation.description %></h1>

<%= render 'form' %>

<%= actions_menu link_to('Show', @trap_installation),
                 link_to('Back', trap_installations_path) %>
